/* ---------------- PROJECT PAGE ---------------- */

.project-page__header {
  width: 100%;

  margin-bottom:
    clamp(
      3rem,
      5vw,
      4.5rem
    );
}


/* ---------------- PROJECT INTRO ---------------- */

.project-page__intro > a {
  display: inline-block;

  margin-bottom: 2rem;

  color:
    var(--color-text-muted);

  font-size: 0.9rem;
}

.project-page__intro > p {

  font-size:
    clamp(
      1rem,
      1.5vw,
      1.2rem
    );
}

.project-page__intro h1 {
  font-size:
    clamp(
      2rem,
      3.6vw,
      3.8rem
    );

  line-height: 1.05;

  white-space: nowrap;
}

@media (max-width: 64rem) {
  .project-page__intro h1 {
    font-size:
      clamp(
        1.8rem,
        4vw,
        3rem
      );
  }
}

@media (max-width: 48rem) {
  .project-page__intro h1 {
    white-space: normal;

    font-size:
      clamp(
        2rem,
        7vw,
        2.8rem
      );
  }
}


/* ---------------- SHARED PROJECT SECTION ---------------- */

.project-section {
  margin-top:
    var(--section-gap);
}